---
import { Button } from "@/components/ui/button"
import '@/assets/globals.css'
import Menu from "@/schemas/Menu.vue"

//Develop section of : Main (Show some story or something and use animations fed by svg`s, of a human curing a cat),  History (Tell a story of animals cured), Rewiev (Who use the service and gave their opinion), Contact (Forms of contact with the clinic)

---

<html lang="en">
 <head>
  <title>Astro</title>
 </head>
 <body>
    <Menu client:only="vue"></Menu>
    <br>
    <Button>Hello World</Button>
 </body>
</html>
