---
import { Button } from "@/components/ui/button"
import '@/assets/globals.css'
import Menu from "@/schemas/Menu.vue"
---

<html lang="en">
 <head>
  <title>Astro</title>
 </head>
 <body>
    <Menu client:only="vue"></Menu>
    <br>
    <Button>Hello World</Button>
 </body>
</html>
