---
import Menu from "./Menu.vue"
import Footer from "./Footer.vue"
import '@/assets/globals.css'

export interface Props {
  title: string;
  lang: string; // Propiedad opcional
}

const { title, lang } = Astro.props

---

<!DOCTYPE html>
<html lang=`${lang}`>
<head>
    <slot name="meta-tags"></slot>
    <link rel="icon" type="svg" href="favicon-min.svg">
    <title> { title } </title>
</head>
<body>

    <Menu client:only="vue"></Menu>

    <slot name="Body"> </slot>

    <Footer client:only="vue"></Footer>
    
</body>
</html>